<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-10">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="list-employee" routerLinkActive="active">Home 
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
      </li>
    </ul>
    <!--<li class="nav-item align-right">
        <a *ngIf="!employeeService.isLoggedIn()" class="nav-link" routerLink="login" 
        	routerLinkActive="active">Sign In</a>
    </li>-->

    <button *ngIf="authService.isLoggedIn()" (click)="authService.logout()" class="btn-primary">  Logout</button>                                                                                   
</div>
  </nav>
